In [185]:
import numpy as np
import pandas as pd
import math
import os
import ipywidgets as widgets
import functools
import difflib
from IPython.display import clear_output
from IPython.display import display, HTML
import time

managers = ["Me","Jack", "Jordan","Blake","Jason","Mason","Mike","Johnny&Ben","Noah","Scott"]
limit = 200
positions = ["QB","RB1","RB2","WR1","WR2","TE","FLX1","FLX2","HC","$ Left","Max Bid"]
positions2 = ["QB","RB1","RB2","WR1","WR2","TE","FLX1","FLX2","HC"]

In [186]:
def refresh(b = None):
    master = pd.DataFrame(columns = managers, index = positions)
    for index, row in master.iterrows():
        if index == "$ Left" or index == "Max Bid":
            for i in managers:
                master.at[index,i] = limit
    return master

## Refresh Master Board

In [217]:
master = refresh()
stack = []

In [218]:
def player_sold(manager, pos, name, value):
    if not isinstance(master.at[pos,manager], str):
        master.at[pos, manager] = name +" " + "$" + str(value)
        curr = master.at["$ Left", manager] 
        master.at["$ Left", manager] = curr - value
        Nas = master[manager].isna().sum() - 1
        maxVal = master.at["$ Left",manager] - Nas
        master.at["Max Bid", manager] = maxVal
        stack.append(master.copy())
    else:
        print("ERROR: Position already filled or manager name not correct")

In [219]:
def view_manager(manager):
    display(HTML(master[manager].to_frame().to_html()))

## MAIN FUNCTIONS

In [220]:
pos = widgets.Text()
name = widgets.Text()
value = widgets.Text()
playerName = widgets.Text()

def select_position(position):
    pos.value = str(position)
    
def player_name(player):
    playerName.value = str(player)
    
def select_manager(manager):
    name.value = str(manager)
    
def select_value(val):
    value.value = str(val)
    
def view_master(b):
    display(HTML(master.to_html()))
    

a = widgets.interactive(select_manager, manager = managers)
b = widgets.interactive(select_position,position = positions2)
c = widgets.interactive(player_name, player = "")
d = widgets.interactive(select_value, val = ((0,110)))

addButton = widgets.Button(description = "ADD PLAYER", button_style = "danger")
#display(addButton)
def add_player(b):
    player_sold(name.value, pos.value, playerName.value, int(value.value))
    print("SUCCESS!")
addButton.on_click(add_player)


btn = widgets.Button(description = "View Board", button_style = "success")
#display(btn)
out1 = widgets.Output()
display(out1)
def view_master(b):
    with out1:
        clear_output(wait=True)
        display(HTML(master.to_html()))

        
btn.on_click(view_master)


dropDown = widgets.Text()

def select_manager2(view_manager):
    dropDown.value = str(view_manager)

e = widgets.interactive(select_manager2, view_manager = managers)

show = widgets.Button(description = "View manager", button_style = "success")
#display(show)
out = widgets.Output()
display(out)
def on_button_clicked(b):
    with out:
        clear_output(wait = True)
        view_manager(dropDown.value)
show.on_click(on_button_clicked)

items = [a,b,c,d,e,addButton, btn, show]
widgets.VBox(items)

Output()

Output()

VBox(children=(interactive(children=(Dropdown(description='manager', options=('Me', 'Jack', 'Jordan', 'Blake',â€¦

SUCCESS!
SUCCESS!
SUCCESS!
SUCCESS!
SUCCESS!
SUCCESS!
SUCCESS!

## Undo Last Add

In [225]:
#Function to undo last add
def undo_add():
    return stack.pop()

master = undo_add()

## Refresh Board

In [213]:
master = refresh()
stack = []

In [212]:
master

             Me Jack Jordan Blake Jason Mason Mike Johnny&Ben Noah Scott
QB       i1 $55  NaN    NaN   NaN   NaN   NaN  NaN        NaN  NaN   NaN
RB1         NaN  NaN    NaN   NaN   NaN   NaN  NaN        NaN  NaN   NaN
RB2         NaN  NaN    NaN   NaN   NaN   NaN  NaN        NaN  NaN   NaN
WR1         NaN  NaN    NaN   NaN   NaN   NaN  NaN        NaN  NaN   NaN
WR2         NaN  NaN    NaN   NaN   NaN   NaN  NaN        NaN  NaN   NaN
TE          NaN  NaN    NaN   NaN   NaN   NaN  NaN        NaN  NaN   NaN
FLX1        NaN  NaN    NaN   NaN   NaN   NaN  NaN        NaN  NaN   NaN
FLX2        NaN  NaN    NaN   NaN   NaN   NaN  NaN        NaN  NaN   NaN
HC          NaN  NaN    NaN   NaN   NaN   NaN  NaN        NaN  NaN   NaN
$ Left      145  200    200   200   200   200  200        200  200   200
Max Bid     138  200    200   200   200   200  200        200  200   200